<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"   
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">
   
	<bean id="parentTriangle" class="org.javabr.Spring.Triangle">
		<property name="pointA" ref="zeroPoint"></property>
	</bean>
	
	<bean id="triangle1" class="org.javabr.Spring.Triangle" 
		 parent="parentTriangle">
		<property name="pointB" ref="Point2"></property>
		<property name="pointC" ref="Point3"></property>
	</bean>
	
	<bean id="zeroPoint" class="org.javabr.Spring.Point">
		<qualifier value="circleRelated" />
		<property name="x" value="0"></property>
		<property name="y" value="0"></property>
	</bean>

	<bean id="Point2" class="org.javabr.Spring.Point">
		<property name="x" value="0"></property>
		<property name="y" value="20"></property>
	</bean>

	<bean id="Point3" class="org.javabr.Spring.Point">
		<property name="x" value="20"></property>
		<property name="y" value="0"></property>
	</bean>
	
	<bean id="circle" class="org.javabr.Spring.Circle" >
	</bean>
	
	
	<context:annotation-config/>
	

</beans>
